page-start {
    .start-bg{
        height:100%;
        width:100%;
        background-image: url('../assets/img/start.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .start{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .start .logo{
        margin-top: 50px; 
        margin-bottom: 50px; 
        align-self: center;
    }
    .start .logo img{
        width: 100px;
        height: auto;
    }
    .start-buttons{
        width:200px;
        margin-top: 100px; 
        display: flex;
        margin: auto;
        flex-direction: column;
        align-self: flex-end;
    }
    .start-buttons button{
        margin-top: 10px; 
    }
}
