<ion-content class="no-scroll start-bg">
  <div class="start">
    <div class="logo">
      <img src="assets/splash.png" />
    </div>
    <div class="start-buttons">
      <button ion-button round (click)="goTo('login')">Login</button>
      <button ion-button color="secondary" round (click)="goTo('register')">Register</button>
      <button ion-button round outline (click)="goTo('tour')">Tour</button>
    </div>
  </div>
</ion-content>