page-login {
    .login{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .login .logo{
        margin-top: 20px; 
        margin-bottom: 20px; 
        align-self: center;
    }
    .login .logo img{
        width: 100px;
        height: auto;
    }
    .login-form {
        height: 100%;
    }
    .login-form .forgot-password{
        transform: translate(15px, 15px);
    }
    .social-buttons{
        margin-top: 10px; 
        display: flex;
        margin: auto;
        flex-direction: column;
        align-self: flex-end;
    }
    .social-buttons button{
        margin-top: 70px; 
    }
    .btn-login{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .btn-login ion-icon{
        align-self: center;
    }
}
