<ion-header>

  <ion-navbar color="pure-white">
    <ion-title>Sign In</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="no-scroll">
  <div class="login">
    <div class="logo">
      <img src="assets/splash.png" />
    </div>
    <div class="login-form">
      <ion-list inset>
        <form [formGroup]="loginForm">

          <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" formControlName="login"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
            <ion-icon class="forgot-password" name="ios-help-circle-outline" item-right (click)="passReset()"></ion-icon>
          </ion-item>

        </form>
      </ion-list>

      <div class="social-buttons">
        <button ion-button round outline color="fb" (click)="socialLogin('Facebook')">SIGN IN VIA FACEBOOK</button>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="btn-login" color="primary" (click)="signIn()">
    <ion-title>
      <ion-icon name="ios-arrow-round-forward"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-footer>
