<ion-card>
  <!--<audio controls preload="{{item.preload}}" width="100%" height="auto">
    <source src="{{item.src}}" type='audio/mp3'>
  </audio>-->

  <audio-track #audio [track]="item" (onFinish)="onTrackFinished($event)">
    <ion-item class="no-padding">
      <ion-thumbnail class="no-margin" item-left>
        <img class="no-margin" src="{{audio.art}}">
        <audio-track-play dark [audioTrack]="audio">
          <ion-spinner></ion-spinner>
        </audio-track-play>
      </ion-thumbnail>
      <div item-content style="width:100%">
        <p><strong>{{audio.title}}</strong></p>
        <audio-track-progress-bar dark duration progress [audioTrack]="audio"></audio-track-progress-bar>
      </div>
    </ion-item>
  </audio-track>

  <ion-item>
    <ion-avatar item-left>
      <img src="{{item.avi}}">
    </ion-avatar>
    <h2>{{item.artiste}}</h2>
    <p>{{item.time}}</p>
  </ion-item>

  <ion-card-content>
    <div class="justify" [innerHTML]="item.likes"></div>
  </ion-card-content>

  <ion-row class="meta">
    <ion-col col-3>
      <button ion-button color="primary" small icon-left (click)=likeUnlike(item)>
          <ion-icon [class.liked] = "item.isliked=='true' && item.likes > 0" name='ios-heart'></ion-icon>
          {{item.likes}}
        </button>
    </ion-col>
    <ion-col col-3>
      <button ion-button color="primary" outline small icon-left>
          <ion-icon name='ios-chatbubbles-outline'></ion-icon>
          {{item.comments}}
        </button>
    </ion-col>
    <ion-col col-3 push-3 class="more">
      <button ion-button color="primary" outline small icon-left (click)=goToPost(item)>
           <ion-icon name='ios-more'></ion-icon>
          </button>
    </ion-col>
  </ion-row>

</ion-card>
