audio-component {
  input[type=range]::-webkit-slider-thumb {
    margin-top: -5px !important;
    height: 12px !important;
    width: 12px !important;
  }
  //   input[type=range]::-moz-range-thumb {}
  //   input[type=range]::-ms-thumb {}
}
