<ion-header>
  <ion-navbar color="pure-white">
    <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>{{pageTitle}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
            <ion-icon name="search"></ion-icon>
          </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top color="pure-white">
    <ion-segment>
      <ion-segment-button value="recent">
        Recent
      </ion-segment-button>
      <ion-segment-button value="popular">
        Popular
      </ion-segment-button>
      <ion-segment-button value="comments">
        Comments
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="cards-bg social-cards">
  <div *ngFor="let item of categoryPosts">
    <image-component *ngIf="item.type == 1" [item]="item"></image-component>
    <audio-component *ngIf="item.type == 2" [item]="item"></audio-component>
    <video-component *ngIf="item.type == 3" [item]="item"></video-component>
    <plain-text-component *ngIf="item.type == 4" [item]="item"></plain-text-component>
  </div>
</ion-content>
