page-category {
  ion-card {
    padding-bottom: 6px;
  }
  .social-cards ion-col {
    padding: 0;
  }
  .social-cards ion-card ion-item,
  .social-cards ion-card ion-card-content {
    padding-left: 8px;
  }
  .meta {
    padding-left: 7px;
  }
  .more {
    text-align: right;
    padding-right: 6px !important;
  }
  vg-player video {
    width: 100%;
    height: 100%;
  }
  .segment-ios .segment-button,
  .segment-md .segment-button {
    margin-right: 5px;
    margin-left: 5px;
    height: 3rem;
    line-height: 2.9rem;
    transition: 10ms all linear;
    border-radius: 50px !important;
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
  }
  .segment-md .segment-button.segment-activated,
  .segment-ios .segment-button.segment-activated {
    color: #fff;
    background-color: #00AA8D;
    opacity: 1;
    transition: 100ms all linear;
  }
}
