<div id="splash-overlay">
  <div class="flex-box">
    <div class="splash-item splash-item-top"></div>
    <img src="assets/splash.png" />
    <div class="splash-item splash-item-bottom"></div>
  </div>
</div>