<ion-header>

  <ion-navbar color="pure-white">
    <ion-title>Sign Up</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="registration">
    <div class="registration-form">
      <ion-list inset>
        <form [formGroup]="registrationForm">

          <ion-item>
            <ion-label floating>Full Name</ion-label>
            <ion-input type="text" formControlName="fname" [class.invalid]="!registrationForm.controls.fname.valid && (registrationForm.controls.fname.dirty || isInvalid)"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" formControlName="uname" [class.invalid]="!registrationForm.controls.uname.valid && (registrationForm.controls.uname.dirty || isInvalid)"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>E-Mail</ion-label>
            <ion-input type="text" formControlName="email" [class.invalid]="!registrationForm.controls.email.valid && (registrationForm.controls.email.dirty || isInvalid)"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password" formControlName="pass" [class.invalid]="!registrationForm.controls.pass.valid && (registrationForm.controls.pass.dirty || isInvalid)"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Confirm Password</ion-label>
            <ion-input type="password" formControlName="cpass" [class.invalid]="!registrationForm.controls.cpass.valid && (registrationForm.controls.cpass.dirty || isInvalid)"></ion-input>
          </ion-item>

          <ion-item class="subscribe">
            <ion-label>Receive email notifications</ion-label>
            <ion-toggle checked="true" formControlName="notify" [class.invalid]="!registrationForm.controls.notify.valid && (registrationForm.controls.notify.dirty || isInvalid)"></ion-toggle>
          </ion-item>

        </form>
      </ion-list>

      <p padding *ngIf="isInvalid" style="color: #f53d3d">Please fill out all required details correctly.</p>

      <p padding>
        <ion-icon color="fb" name="information-circle"></ion-icon> By clicking Sign Up you are agreeing to the <span color="fb">Terms of use</span> and <span color="fb">Privacy policy</span>
      </p>

      <div class="signup">
        <button ion-button round color="secondary" (click)="signUp()" type="submit">SIGN UP</button>
      </div>

    </div>
  </div>
</ion-content>
