page-sign-up {
  ion-list {
    margin-top: 0px !important;
  }
  .registration {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .registration-form {
    height: 100%;
  }
  .registration-form .subscribe {
    padding: 15px 0 0 0;
  }
  .subscribe .item-inner {
    border-bottom: none !important;
  }
  .signup {
    width: 200px;
    margin-top: 100px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-self: flex-end;
  }
  .signup button {
    margin-bottom: 20px;
  }
  .invalid {
    color: #ea6153;
  }
}
