page-categories {
  .round-button {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 2px #414141;
  }
  .round-button:hover {
    background: map-get($colors, primary);
  }
  .round-button:hover ion-icon {
    color: map-get($colors, light);
  }
  .round-button ion-icon {
    width: 100%;
    font-size: 2.2em;
    padding-top: 50%;
    margin-top: -0.5em;
    text-align: center;
    color: #414141;
  }
  p {
    color: #333333;
    margin-top: 8px;
  }
}
