<ion-header>
  <ion-navbar color="pure-white">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categories</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-searchbar [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>
  <ion-grid padding>
    <ion-row class="center">
      <ion-col col-4 *ngFor="let category of categories" (click)="navNext(category)">
        <div class="round-button">
          <ion-icon name="{{category.icon}}"></ion-icon>
        </div>
        <p>{{category.title}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
