<ion-header>

  <ion-navbar color="pure-white">
    <ion-title>{{item.title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar item-left>
      <img src="{{item.avi}}">
    </ion-avatar>
    <h2>{{item.artiste}}</h2>
    <p>{{item.time}}</p>
  </ion-item>

  <img *ngIf="item.type == 1" src="{{item.art}}">
  <audio *ngIf="item.type == 2" controls preload="{{item.preload}}" width="100%" height="auto">
    <source src="{{item.src}}" type='audio/mp3'>
  </audio>
  <video *ngIf="item.type == 3" controls preload="{{item.preload}}" width="100%" height="auto">
    <source src="{{item.src}}" type='video/mp4'>
  </video>

  <ion-card-content>
    <div class="justify" [innerHTML]="item.text"></div>
  </ion-card-content>

  <ion-row class="meta">
    <ion-col col-3>
      <button ion-button color="primary" small icon-left (click)=likeUnlike(item)>
          <ion-icon [class.liked] = "item.isliked" name='ios-heart'></ion-icon>
          {{item.likes}}
        </button>
    </ion-col>
    <ion-col col-3>
      <button ion-button color="primary" outline small icon-left>
          <ion-icon name='ios-chatbubbles-outline'></ion-icon>
          {{item.comments}}
        </button>
    </ion-col>
  </ion-row>
</ion-content>
