// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import '../assets/fonts/videogular.css';
.no-scroll .scroll-content {
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.pf-menu-header ion-avatar {
  text-align: center;
  display: inline-block;
}

ion-avatar .avi {
  border-radius: 50% !important;
  width: 50px !important;
  height: 50px !important;
}

.pf-menu {
  background-color: map-get($colors, sidemenu-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pf-menu button {
  border-bottom: solid 1px rgb(51, 51, 51) !important;
}

.pf-menu-item:last-child {
  border-bottom: 0px !important;
}

.pf-menu-item,
.pf-menu-header {
  height: 86px;
  padding-left: 0px;
  text-align: center;
  color: map-get($colors, light);
  background-color: map-get($colors, sidemenu-bg);
}

.pf-menu-item item-inner {
  padding-right: 0px !important;
}

.menu-icon {
  transform: translate(8px, 2px);
  font-size: 20px !important;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.liked {
  color: red;
}
