<ion-menu [content]="content" class="no-scroll">
  <ion-header>
    <ion-toolbar color="sidemenu-bg" class="pf-menu-header">
      <ion-avatar item-left>
        <img class="avi" src="assets/img/avatar.png">
      </ion-avatar>
    </ion-toolbar>
  </ion-header>

  <ion-content color="light" class="pf-menu">
    <ion-list no-lines>
      <button ion-item detail-none icon-only class="pf-menu-item" menuClose *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon class="menu-icon" name="{{p.icon}}"></ion-icon>
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
