<ion-card>
  <!--HTML5 Video-->
  <!--<video controls preload="{{item.preload}}" poster="{{item.art}}" width="100%" height="auto">
    <source src="{{item.src}}" type='video/mp4'>
  </video>-->
  <!--Streaming Media-->
  <!--<button ion-button color="primary" full (click)=playVideo(item)>
    Cheza Video
  </button>-->
  <!--Videogular2 Plugin-->
  <vg-player>

    <vg-overlay-play></vg-overlay-play>
    <vg-buffering></vg-buffering>

    <!--<vg-scrub-bar>
      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
    </vg-scrub-bar>

    <vg-controls>
      <vg-play-pause></vg-play-pause>
      <vg-playback-button></vg-playback-button>

      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>

      <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>

      <vg-mute></vg-mute>

      <vg-fullscreen></vg-fullscreen>
    </vg-controls>-->

    <video [vgMedia]="media" #media id="singleVideo" preload="{{item.preload}}" poster="{{item.art}}" crossorigin>
      <source src="{{item.src}}" type="video/mp4">
    </video>

  </vg-player>


  <ion-item>
    <ion-avatar item-left>
      <img src="{{item.avi}}">
    </ion-avatar>
    <h2>{{item.artiste}}</h2>
    <p>{{item.time}}</p>
  </ion-item>

  <ion-card-content>
    <div class="justify" [innerHTML]="item.text"></div>
  </ion-card-content>

  <ion-row class="meta">
    <ion-col col-3>
      <button ion-button color="primary" small icon-left (click)=likeUnlike(item)>
          <ion-icon [class.liked] = "item.isliked=='true' && item.likes > 0" name='ios-heart'></ion-icon>
          {{item.likes}}
        </button>
    </ion-col>
    <ion-col col-3>
      <button ion-button color="primary" outline small icon-left>
          <ion-icon name='ios-chatbubbles-outline'></ion-icon>
          {{item.comments}}
        </button>
    </ion-col>
    <ion-col col-3 push-3 class="more">
      <button ion-button color="primary" outline small icon-left (click)=goToPost(item)>
           <ion-icon name='ios-more'></ion-icon>
          </button>
    </ion-col>
  </ion-row>

</ion-card>
