<ion-content class="no-scroll tour-bg">

  <ion-slides pager>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <img src="assets/img/slide1.jpg" /> <strong>Hey there!</strong>
        </ion-card-header>
        <ion-card-content>
          Welcome to PodFather. A curated list of some of the world's best podcasts cutting across a comprehensive list of categories.
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <img src="assets/img/slide2.jpg" /> <strong>Subscribe</strong>
        </ion-card-header>
        <ion-card-content>
          We aim to provide you with the top cream of the world's entertainment. Just navigate through the included categories or search
          for your favorite podcast by name or provider, subscribe to get notifications about updates and timeline info and
          read, listen or watch away. Simple right?
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <img src="assets/img/slide3.jpg" /> <strong>Like.Comment.Share.</strong>
        </ion-card-header>
        <ion-card-content>
          Enjoy a podcast? Then double tap to like it. Leave a comment and engage in discussions pertaining to it. Share it across
          your various social media platforms and share the knowledge and fun.
          <br/>
          <button ion-button round outline (click)="go()">Explore</button>
        </ion-card-content>
      </ion-card>
    </ion-slide>

  </ion-slides>

</ion-content>
