page-tour {
  .tour-bg {
    height: 100%;
    width: 100%;
    background-image: url('../assets/img/start.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ion-slides {
    align-self: center;
  }
  ion-slide {
    width: 100%;
  }
}
