<ion-card>
  <ion-item>
    <ion-avatar item-left>
      <img src="{{item.avi}}">
    </ion-avatar>
    <h2>{{item.artiste}}</h2>
    <p>{{item.time}}</p>
  </ion-item>

  <ion-card-content>
    <div class="justify" [innerHTML]="item.text"></div>
  </ion-card-content>

  <ion-row class="meta">
    <ion-col col-3>
      <button ion-button color="primary" small icon-left (click)=likeUnlike(item)>
          <ion-icon [class.liked] = "item.isliked=='true' && item.likes > 0" name='ios-heart'></ion-icon>
          {{item.likes}}
        </button>
    </ion-col>
    <ion-col col-3>
      <button ion-button color="primary" outline small icon-left>
          <ion-icon name='ios-chatbubbles-outline'></ion-icon>
          {{item.comments}}
        </button>
    </ion-col>
    <ion-col col-3 push-3 class="more">
      <button ion-button color="primary" outline small icon-left (click)=goToPost(item)>
           <ion-icon name='ios-more'></ion-icon>
          </button>
    </ion-col>
  </ion-row>

</ion-card>
