page-pass-reset {
  .reset {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .reset-form {
    height: 80%;
  }
  .res {
    width: 200px;
    margin-top: 100px;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-self: flex-end;
  }
  .res button {
    margin-top: 10px;
  }
}
