<ion-header>

  <ion-navbar color="pure-white">
    <ion-title>Reset Password</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="no-scroll">
  <div class="reset">
    <div class="reset-form">
      <ion-list inset>
        <form>

          <ion-item>
            <ion-label floating>E-Mail</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>

        </form>
      </ion-list>

      <div class="res">
        <button ion-button round color="secondary" (click)="reset()">RESET</button>
      </div>

    </div>
  </div>
</ion-content>
